<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>30461072894-lb8gq4v89b1jcspca7qe9r4dr47g1i8v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30461072894-lb8gq4v89b1jcspca7qe9r4dr47g1i8v</string>
	<key>API_KEY</key>
	<string>AIzaSyCuvLjWgweWQ8qtImFGopgWCQfubsWLyI0</string>
	<key>GCM_SENDER_ID</key>
	<string>30461072894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterPrime</string>
	<key>PROJECT_ID</key>
	<string>flutter-prime</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-prime.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30461072894:ios:4f80e76934a4b3728b5caf</string>
</dict>
</plist>